.video-player-container {
    text-align: center;
    padding-top: 80px;
}

.video-frame {
    border: 1px solid #555555;
    width: 700px;
    height: 394px;
    max-width: 98vw;
    max-height: calc(98vw * 9 / 16);
    transition: .5s;
}

.nytimes-container {
    margin: 0px auto;
    width: 670px;
    height: 446px;
    max-width: 98vw;
    max-height: calc(98vw * 2 / 3);
    transition: .5s;
}

