.header-container {
    position: relative;
    width: 100%;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding-bottom: 10px;
    background-color: #ffc897;
    margin-bottom: 60px;
}

.home-icon {
    width: 70px;
    position: relative;
    top: 5px;
    left: -4px;
    /* padding: 40px 0px, 10px, 10px; */
}