.welcome-container {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../../assets/images/new_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.app-info, .signup {
    display: inline-block;
    background: #ffaf5b;
    border: 1px solid #ffaf5b;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    color: #fff;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.signup {
    width: 35%;
}

.app-info {
    width: 45%;
}