.app-info > div {
    color: #ffc897;
}

.welcome-container {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../../assets/images/new_bg.png");
    background-size: cover;
    background-repeat: repeat-y;
    min-height: 100%;
}

#welcome {
    min-height: 100%;
}

#welcome-msg {
    font-size: 60px;
}

#chrome-link {
    text-decoration: none;
    color: #21accc;
    size: 20px;
}

.app-info {
    float: left;
    padding-right: 20px;
    background: #ffc897;
    border: solid #ffc897 10px;
}

.forms {
    float: left;
}
