.playlist-item {
    background: #fff;
    border: 1px solid #21accc;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    color: #21accc;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    /* display: none; */
    background: #fff;
    padding: 3px 4px 3px 4px;
    border: none;
    border-radius: 5px;
    color: #21accc;
    font-size: 16px;
}

.playlist-card :hover {
    background: #21accc;
    color: #fff;
}

.playlist-item :hover + button {
    display: block;
}

