.controls-container {
    margin: 0px auto;
    text-align: center;
}

.options-container {
    position: relative;
    text-align: center;
}

.controls-button {
    border-radius: 10px;
    background-color: #555;
    width: 50px;
    margin: 10px;
}

.controls-button:hover {
    background-color: #85deff;
    transition: .75s;
}

.delete-icon, .options-icon {
    position: absolute;
    background-color: #bfbfbf;
    z-index: 5;
    top: 10px;
    right: 10px;
    width: 25px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #cccccc;
    -webkit-box-shadow: 0px 0px 8px #cccccc;
    transition: all ease-in-out 0.3s;
}

.options-container .edit-icon {
    position: relative;
    border-radius: 50px;
    width: 35px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    background-color: #21accc;
    box-shadow: 2px 3px 5px #bfbfbf;
    -webkit-box-shadow: 2px 3px 5px #bfbfbf;
    transition: all ease-in-out 0.3s;
}

.options-container > .delete-icon {
    display: inline-block;
    width: 35px;
    top: unset;
    left: unset;
    right: unset;
    margin: 5px;
    position: relative;
    background-color: #21accc;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 3px 5px #bfbfbf;
    -webkit-box-shadow: 2px 3px 5px #bfbfbf;
    transition: all ease-in-out 0.3s;
}

.delete-icon:hover {
    background-color: #FF3E5E;
}

.options-icon:hover {
    background-color: #FF5773;
}

.edit-icon:hover {
    background-color: #FF5773;
}

.save-icon {
    background-color: #FF5773;
    z-index: 5;
    width: 50px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 3px 5px #bfbfbf;
    -webkit-box-shadow: 2px 3px 5px #bfbfbf;
    transition: 0.3s;
}

.save-icon:hover {
    background-color: #21accc;
}