.playlist-item {
    background: #ffaf5b;
    border: 1px solid #ffaf5b;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    color: #fff;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;

}

.playlist-card :hover {
    background: #21accc;
    color: #fff;
}


