.playlist-item {
    background: #fff;
    border: 1px solid #21accc;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    color: #21accc;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.playlist-card :hover {
    background: #21accc;
    color: #fff;
}


