.header-container {
    position: relative;
    width: 100%;
    z-index: 10;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #ffc897;
    margin-bottom: 60px;
}

/* .sticky {
    position: fixed;
    top: 0;
  } */

.home-icon {
    width: 30px;
    position: relative;
    top: 6px;
    left: 6px;
}

#link-home {
    position: relative;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-weight: bold; */
    font-size: 30px;
    text-decoration: none;
    color: #b2722e;
}
