.add-video-container {
    text-align: center;
}

.add-video-title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.centered-container > .wrapper > .dd-wrapper {
    margin: 10px auto;
}

.centered-container > .wrapper > .dd-wrapper > .dd-header {
    height: 40px;
}

.centered-container > .form-group {
    margin: 10px auto 20px auto;
}

.centered-container > .form-group > .form-control {
    font-size: 14px;
    color: #1a8799;
    border-radius: 5px;
    border: 1px solid #21accc;
    width: 80%;
    margin: 0px auto;
    height: 40px;
}


