.edit-container {
    margin-top: 5%;
}

.reorder-container{
    margin-left: 20%;
    margin-right: 20%;
}

.sortable-item {
    background: #ffaf5b;
    border-radius: 5px;
    margin: 3px;
    width: auto;
    height: auto;
    padding: 5px;
    /* background-color: rgb(252, 233, 210);
    border: 1px solid gray; */
}