
.sortable-item {
    background: #ffaf5b;
    border-radius: 5px;
    margin: 3px;
    width: auto;
    height: auto;
    padding: 5px;
    cursor: pointer;
}

.reorder-container > .save-icon {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px; 
}
